.VitaminItem {
    .vitamin-item {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #575757;
        width: 40%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: '960px') {
    .VitaminItem {
        .vitamin-item {
            font-size: 10px;
        }
    }
}