.HeaderBottom {
    background: #F9F9F9;
    padding: 15px 0;
    margin: 50px 0 0 0;

    &-inner {
        display: flex;
        align-items: center;
        // justify-content: space-between;
    }

    select {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        background-color: #F9F9F9;
        color: #151515;
        border: none;
        outline: none;
        margin-right: 50px;
    }
}