.Category {
    .category-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #151515;
        margin: 25px 0;
    }

    .categoryTopBtn {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #A9A9A9;
        margin-left: 25px;
        transition: all ease 0.5s;

        &:hover {
            color: #151515;
        }

        &-icon {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #6A983C;
            background: #F4F8EC;
            border-radius: 12px;
            padding: 1px 10px;
        }
    }

    .breadcrumbItems {
        margin-top: 25px;
    }

    .radio-section {
        display: flex;
        background: #F9F9F9;
        border: 1px solid #D1D1D1;
        box-sizing: border-box;
        border-radius: 12px;
        width: 240px;
    }

    .checkbox-item {
        background: #F9F9F9;
        border: 1px solid #D1D1D1;
        box-sizing: border-box;
        border-radius: 12px;
        padding: 2px 20px;

        select {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #151515;
            outline: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        .line {
            width: 1px;
            height: 20px;
            background-color: #D1D1D1;
            margin: 0 25px 0 35px;
            border-radius: 12px;
            border: 1px solid #D1D1D1;
            transform: rotate(90deg);
        }
    }

    .check {
        margin-right: 16px;
    }

    .radio-btn {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #151515;
        outline: none;
        border: none;
        border: 1px solid #D1D1D1;
        box-sizing: border-box;
        border-radius: 12px;
        padding: 0 5px;
    }

    .selectedItems {
        .selectedTitle {
            margin-right: 12px;
        }

        .selectedBtn {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #6A983C;
            padding: 1px 10px 1px 10px;
            outline: none;
            border: none;
            background: #F4F8EC;
            border-radius: 12px;
            margin-right: 12px;
            cursor: pointer;
        }
    }

    .categorycard-section {
        width: 100% !important;
    }

    .css-1ri6ub7-MuiPaper-root-MuiCard-root {
        box-shadow: none;
        max-width: none;
    }

    .CategoryFooter {
        &-btn {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 22px;
            color: #FFFFFF;
            background: #6A983C;
            border: 2px solid #46760A;
            box-sizing: border-box;
            border-radius: 12px;
            padding: 12px 20px;
        }

        &-backgroundBtn {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #6A983C;
            padding: 3px 10px 1px 10px;
            background: #F4F8EC;
            border-radius: 12px;
            margin-right: 5px;
        }

        &-products {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #A9A9A9;
        }

        &-pageNum {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #151515;
            margin-left: 10px;
            cursor: pointer;
            transition: all ease 0.5s;

            &:hover {
                color: #6A983C;
            }
        }
    }
}

@media screen and (max-width: '960px') {
    .Category {

        .categorycard-section {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            float: left;
            margin-right: 200px;
            
            .categoryCard-list {
                // width: 20%;
            }
        }

        .container {
            .category-title {
                font-size: 23px;
            }
        }
        .breadcrumb {
            font-size: 15px;
        }
        .category-title {
            font-size: 25px;
        }
        .selectedItems {
            .selectedTitle {
                font-size: 14px;
            }
        }

        .categoryTopBtn {
            font-size: 11px;
            svg {
                width: 15px;
                height: 15px;
            }
            &-icon {
                font-size: 10px;
            }
        }

        .radio-section {
            .checkbox-item {
                height: 20px;
                .MuiTypography-root .MuiTypography-body1 .MuiFormControlLabel-label .css-ahj2mt-MuiTypography-root {
                    font-size: 10px;
                    height: 20px;
                }
            }
        }
    }
}