.HeaderTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 16px 0;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 40px;

    .top {
        .tel,
        .email,
        .chat-us {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #151515;
        }

        .tel {
            margin: 0 33px;
        }

        .chat-us {
            color: #6a983c;
        }
    }

    .links a {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #6a983c;

        &:nth-child(2) {
            margin: 40px;
        }
    }
}

.Bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mobileStyle {
        display: flex;
        width: 65%;
        justify-content: space-between;
        align-items: center;

        .mobileBtnStylesBlock {
            .mobileNavBtn {
                display: none;
            }
        }
    }

    .select-option {
        background: #f9f9f9;
        border: 1px solid #d1d1d1;
        box-sizing: border-box;
        border-radius: 12px;
        padding: 10px 15px;
        width: 500px;
        display: flex;
        align-items: center;
        // justify-content: space-between;

        select {
            border: none;
            outline: none;
            font-family: "Poppins";
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 22px;
            color: #151515;
            background-color: #f9f9f9;
        }

        .line {
            width: 2px;
            height: 20px;
            background-color: #d1d1d1;
            // transform: rotate(90deg);
            border-radius: 10px;
            margin: 0 30px;
            flex-direction: column;
        }

        input {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: #a9a9a9;
            border: none;
            outline: none;
            background-color: #f9f9f9;
            width: 60%;
        }
    }

    .icons {
        .user-icon {
            margin-right: 45px;
        }
    }
}

@media screen and (max-width: 960px) {
    .HeaderTop {
        .top {
            .tel,
            .email,
            .chat-us {
                font-size: 10px;
            }
        }
        .links a {
            font-size: 10px;
        }
    }
    .Bottom {
        .HeadLogo {
            svg {
                width: 155px;
            }
        }
        .select-option {
            padding: 5px 10px;
            width: 400px;
            select {
                font-size: 13px;
            }

            input {
                font-size: 13px;
            }
        }
        .icons {
            .user-icon {
                margin-right: 25px;
                svg {
                    width: 20px;
                }
            }
            .basket-icon {
                svg {
                    width: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .HeaderTop {
        .top {
            .tel,
            .email,
            .chat-us {
                font-size: 10px;
            }

            .tel {
                margin: 0 20px;
            }
        }
        .links a {
            font-size: 10px;

            &:nth-child(2) {
                margin: 0 25px;
            }
        }
    }
    .Bottom {
        .HeadLogo {
            svg {
                width: 150px;
            }
        }

        .mobileStyle {
            width: 70%;
        }

        .select-option {
            padding: 5px 10px;
            width: 70%;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            select {
                font-size: 12px;
            }
            .line {
                margin: 0 15px;
            }

            input {
                font-size: 12px;
            }
        }
        .icons {
            .user-icon {
                margin-right: 25px;
                svg {
                    width: 20px;
                }
            }
            .basket-icon {
                svg {
                    width: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .HeaderTop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;

        .top {
            .tel,
            .email,
            .chat-us {
                font-size: 10px;
            }

            .tel {
                margin: 0 15px;
            }

            .chat-us {
                color: #6a983c;
            }
        }
        .links {
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
        }
    }

    .Bottom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .mobileStyle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 30px;
            flex-direction: column;

            .mobileBtnStylesBlock {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 20px;

                .mobileNavBtn {
                    display: block;
                    outline: none;
                    border: none;
                    background-color: transparent;

                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }

        .select-option {
            padding: 10px 15px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            select {
                font-size: 12px;
            }

            input {
                font-size: 12px;
                width: 45%;
            }
        }

        .icons {
            display: flex;
            margin-left: 20px;

            svg {
                width: 25px;
                height: 25px;
            }

            .user-icon {
                margin-right: 35px;
            }
        }
    }

    
    .visible {
        .HeaderBottom {
            display: block;
        }
    }
}
