.CategoryRadio {
    margin-top: 50px;
    &-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #151515;
        margin-bottom: 20px;
    }

    &-checkbox {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #151515;
    }
}

@media screen and (max-width: '960px') {
    .CategoryRadio {
        width: 100%;
        span {
            font-size: 12px;
            input[type=checkbox] {
                width: 20px;
                height: 20px;
            }
        }
        .PrivateSwitchBase-input {
            width: 5px;
            height: 5px;
        }
        &-title {
            font-size: 13px;
        }

        &-checkbox {
            font-size: 12px;
        }

        span {
            svg {
                width: 20px;
            }
        }
    }
}