.CategoryCard {
    width: 960px;
    height: 330px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 35px;
    margin-left: 150px;
    overflow: hidden;

    
    &:last-child {
        margin-bottom: 0;
    }

    .categoryCardImg {
        width: 360px;
        height: 328px;
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
    }

    .categoryCardTitle {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #151515;
    }

    .MuiCardContent-root {
        width: 100%;
        padding: 0;
    }

    .titles {
        .title1 {
            margin-right: 35px;
        }
    }

    .css-1ri6ub7-MuiPaper-root-MuiCard-root {
        overflow: visible;
    }

    .categoryCardBtn {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: #FFFFFF;
        background: #6A983C;
        border: 2px solid #46760A;
        box-sizing: border-box;
        border-radius: 12px;
        padding: 12px 15px;
        outline: none;
        cursor: pointer;
        box-sizing: border-box;

        &:hover {
            color: #FFFFFF;
            background: #6A983C;
            border: 2px solid #46760A;
        }
    }
    .categoryCardBtn2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: #151515;
        background: #F5F5F5;
        border-radius: 12px;
        padding: 7px 12px;
        box-sizing: border-box;
    }

    .price {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #A9A9A9;
    }

    .titleSty {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 16px;
        color: #A9A9A9;

    }
    .smallTit {
        font-size: 13px;
    }

    .textBlock {
        padding: 50px 20px 20px 50px;
    }
}