.Links {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .links-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #151515;
        display: block;
        margin-bottom: 25px;
    }
    .links-category {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;

        .link {
            display: inline-block;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 19px;
            text-decoration-line: underline;
            color: #6A983C;
            margin-bottom: 15px;
        }
    }

    .btn-link {
        margin-top: 50px;
    }

    .links-btn {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        color: #151515;
        background: #F5F5F5;
        border-radius: 12px;
        margin-top: 35px;
        padding: 13px 40px 13px 16px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .arrow-right {
        position: relative;
        right: -13px;
    }
}

@media screen and (max-width: 960px) {
    .Links {
        width: 20%;
        .links-title {
            font-size: 13px;
            margin-bottom: 15px;
        }
        .links-category {
    
            .link {
                display: inline-block;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 19px;
                text-decoration-line: underline;
                color: #6A983C;
                margin-bottom: 10px;
            }
        }
    
        .links-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 22px;
            color: #151515;
            background: #F5F5F5;
            border-radius: 12px;
            margin-top: 15px;
            padding: 7px 20px 7px 15px;
            border: none;
            outline: none;
            cursor: pointer;
            text-decoration: none;
        }

        .btn-link {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .Links {
        width: 20%;
        .links-title {
            font-size: 13px;
            margin-bottom: 15px;
        }
        .links-category {
    
            .link {
                display: inline-block;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 19px;
                text-decoration-line: underline;
                color: #6A983C;
                margin-bottom: 10px;
            }
        }
    
        .links-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 22px;
            color: #151515;
            background: #F5F5F5;
            border-radius: 12px;
            margin-top: 15px;
            padding: 7px 20px 7px 10px;
            border: none;
            outline: none;
            cursor: pointer;
            text-decoration: none;
        }

        .btn-link {
            margin-top: 0;
        }
    }
}