.Card {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 15px;
    transition: all ease 0.3s;
    position: relative;

    &:hover {
        box-shadow: 10px 15px 10px 10px #8888;
    }

    .card-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #151515;
        margin: 16px 0 5px 0;
    }

    .card-text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #575757;
    }

    .card-prices {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;

        .card-price {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #151515;
        }

        .card-btn {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 22px;
            color: #FFFFFF;
            background: #6A983C;
            border: 2px solid #46760A;
            box-sizing: border-box;
            border-radius: 12px;
            padding: 7px 12px;
            cursor: pointer;
        }

        .cardRate {

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-decoration-line: line-through;
            color: #A9A9A9;
        }

    }

    .iconRate {
        position: absolute;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #6A983C;
        padding: 2px 10px;
        background: #F4F8EC;
        border-radius: 12px;
        top: 25px;
        left: 25px;
    }
}

@media screen and (max-width: '960px') {
    .Card {
        width: 200px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 10px;
        transition: all ease 0.3s;

        &:hover {
            box-shadow: 10px 15px 10px 10px #8888;
        }
        
        .card-img {
            width: 100%;
            height: 130px;
            padding-left: 3px;
        }
        .card-title {
            font-size: 12px;
        }
        .card-text {
            font-size: 10px;
        }
        .card-prices {
            .card-price {
                font-size: 12px;
            }
            .card-btn {
                font-size: 11px;
                padding: 5px 10px;
            }
        }
        .iconRate {
            position: absolute;
            top: 20px;
            left: 20px;
            padding: 1px 7px;
        }
    }
}