.DetailImg {
    position: relative;
    margin-bottom: 55px !important;
    .detailImgRate {
        background: #F4F8EC;
        border-radius: 12px;
        padding: 5px 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #6A983C;

        &:first-child {
            margin-right: 1rem;
        }
    }

    .detailImgItems {
        position: absolute;
        z-index: 1;
        top: 25px;
        left: 30px;
    }
}

@media screen and (max-width: 960px) {
    .DetailImg {
        img {
            width: 400px;
            height: 300px;
        }
        .detailImgRate {
            font-size: 8px;
            padding: 0 7px;
        }

        .detailImgItems {
            top: 15px;
            left: 15px;
        }
    }
}

@media screen and (max-width: 768px) {
    .DetailImg {
        margin-bottom: 30px !important;


    }
}

@media screen and (max-width: 375px) {
    .DetailImg {
        margin-bottom: 30px !important;
        width: 100%;

        img {
            width: 100% !important;
            height: 200px !important;
        }

        .detailImgRate {
            font-size: 6px;
            padding: 0 7px;

            &:first-child {
                margin-right: 0.5rem;
            }
        }

        .detailImgItems {
            top: 5px;
            left: 5px;
        }
    }
}