.FooterTopLinks {
    .footerTopLink-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #151515;
    }

    .footerTopLink-link {
        display: block;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #6A983C;
        margin-top: 16px;
    }
}

@media screen and (max-width: 960px) {
    .FooterTopLinks {
        .footerTopLink-title {
            font-size: 15px
        }

        .footerTopLink-link {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 375px) {
    .FooterTopLinks {
        width: 43%;
        margin-bottom: 30px;
    }
}