.ImgSection {
    margin-bottom: 130px !important;
    .left {
        width: 29%;
    }
    .right {
        display: flex;
        justify-content: space-between;

    }

    .top {
        margin-bottom: 35px;
    }
    .dispFlex {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .imgLeftImage {
            width: 50%;
            background-image: url('../../assets/images/ImgSection.png');
            background-repeat: no-repeat;
        }
    }
    .rightSection {
        width: 60%;
    }
    .img {
        margin-bottom: 25px;
    }
    .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #151515;
        margin: 10px 0 15px 0;
    }
    .author {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 16px;
        color: #151515;
    }
}

@media screen and (max-width: 960px) {
    .ImgSection {
        margin-bottom: 50px !important;
        .dispFlex {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        .rightSection {
            width: 45%;
            flex-direction: column;
            
            img {
                position: relative;
                left: 60px;
                margin-bottom: 10px;
                text-align: center;
            }
        }
        .imgLeftImage {
            background-position: cover;
            height: 400px;
            background-size: cover;
            object-fit: contain;
            width: 60% !important;
            overflow: hidden !important;
        }
        .left {
            width: 45%;
            margin-left: 50px;
            .text {
                font-size: 15px;
            }
            .author {
                font-size: 12px;
            }
            img {
                width: 250px;
                margin-bottom: 10px;
                overflow: hidden !important;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .ImgSection {
        .dispFlex {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;

            .imgLeftImage {
                // width: 100% !important;
                // height: 100% !important;
                // overflow: hidden;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                margin-bottom: 50px;
            }

            .rightSection {
                width: 100%;
                box-sizing: border-box;

                img {
                    position: static;
                    margin-left: 30px;
                }
            }

            .left {
                margin-left: 0;
                width: 100%;

                .text {
                    width: 80%;
                }
            }

            .right {

            }
        }
    }
}


@media screen and (max-width: 375px) {
    .ImgSection {
        .dispFlex {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;

            .imgLeftImage {
                width: 100% !important;
                height: 100% !important;
                // overflow: hidden;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                margin-bottom: 50px;
            }

            .rightSection {
                width: 100%;
                box-sizing: border-box;

                img {
                    position: static;
                    margin-left: 30px;
                }
            }

            .left {
                margin-left: 0;
                width: 100%;
                
                .text {
                    width: 80%;
                }
            }
            
            .right {
                flex-direction: column;
                .left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin-bottom: 100px;
                    text-align: left;
                    width: 100%;
                    margin-bottom: 70px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}