.ImgSection {
    margin-bottom: 130px !important;
    .left {
        width: 29%;
    }
    .right {
        display: flex;
        justify-content: space-between;

    }

    .top {
        margin-bottom: 35px;
    }
    .dispFlex {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .rightSection {
        width: 60%;
    }
    .img {
        margin-bottom: 25px;
    }
    .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #151515;
        margin: 10px 0 15px 0;
    }
    .author {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 16px;
        color: #151515;
    }
}