.smBtn {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #6a983c;
    background: #f4f8ec;
    border-radius: 12px;
    padding: 1px 10px;
    outline: none;
    border: none;
}

@media screen and (max-width: '960px') {
    .smBtn {
        font-size: 10px;
    }
}