.FooterBottom {
   .footerBottom-title {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #151515;
   }
   .footerCopyright {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #151515;
      margin-bottom: 65px;
   }
}

@media screen and (max-width: '960px') {
   .FooterBottom {
      .footerBottom-title {
         font-size: 15px;
      }
      .footerCopyright {
         font-size: 12px;
      }
   }
}