.CategoryRating {
    margin-top: 50px;

    &-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #151515;
        margin-bottom: 20px;
    }
    
    .inputField {
        border-radius: 12px;
        margin-right: 50px;
        border: 1px solid #D1D1D1;
        padding: 10px;
        outline: none;
        width: 80px;
        color: #A9A9A9;

        &:last-child {
            margin-right: 0;
        }
    }
    
    .price {
        margin-right: 110px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #151515;

        &:last-child {
            margin-right: 0;
        }
    }

    .priceBtn {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: #FFFFFF;
        padding: 13px 16px;
        background: #6A983C;
        border: 2px solid #46760A;
        box-sizing: border-box;
        border-radius: 12px;
        margin-right: 35px;

        &:last-child {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 22px;
            color: #A9A9A9;
            background: #FFFFFF;
            border-radius: 12px;
            padding: 6px 12px;
            border: none;
        }
    }
}

@media screen and (max-width: '960px') {
    .CategoryRating {
        &-title {
            font-size: 13px;
        }
        span {
            svg {
                margin-right: 5px;
                width: 20px;
            }
        }
        .inputField {
            margin-right: 20px;
            border: 1px solid #000;
            padding: 10px;
            outline: none;
            width: 80px;
            margin-right: 50px;
            color: #A9A9A9;
        }
        .ratingStar {
            svg {
                width: 20px;
                height: 20px;
                padding-left: 0;
            }
        }

        .rangeInput {
            width: 220px;
        }

        .priceBtn {
            padding: 2px 15px !important;
            font-size: 12px !important;
        }
    }
}