.HomeCards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 65px !important;
    box-sizing: border-box;

    .res {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    .bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 140px;
    }
}

@media screen and (max-width: 960px) {
    .HomeCards {
        .bottom {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .cardsWrapper {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .HomeCards {
        .bottom {
            display: flex;
            align-items: flex-start;
            // justify-content: space-between;
            flex-wrap: wrap;

            .Card {
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .HomeCards {
        margin-top: 70px !important;

        .res {
            align-items: center;
            justify-content: center;

            .Links {
                display: none;
            }
        }
        .bottom {
            margin-top: 70px;
            flex-wrap: wrap;
            margin-left: 0;
            
            .Links {
                display: none;
            }

            .Card {
              margin-left: 0;
            }
        }
    }
}