.ImgRight {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    // flex-direction: column;

    .nmadir {
        margin-right: 50px;
    }

    .imgRight-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #151515;
    }

    .imgRight-auth {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 16px;
        color: #151515;
    }
}

@media screen and (max-width: '960px') {
    .ImgRight {
        width: 100%;
        flex-direction: column;
        text-align: center;
        .nmadir {
            order: 2;
        }
        .imgRight-title {
            font-size: 14px;
        }
        .imgRight-auth {
            font-size: 11px;
        }
    }
}