.BlogCard {
    margin-bottom: 35px;
    padding: 15px;
    border-radius: 10px;
    transition: all ease 0.3s;
    &:hover {
        box-shadow: 10px 15px 10px 10px #888888;
    }

    .blogCardTag {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #6A983C;
        padding: 1px 10px;
        background: #F4F8EC;
        border-radius: 12px;
        display: inline-block;
        width: 13%;
    }

    .blogCardImg {
        width: 305px;
        margin-bottom: 25px;
        border-radius: 12px;
    }

    .blogCardTitle {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #151515;
        margin-bottom: 16px;
        max-width: 250px;
    }

    .blogCardAuth {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #151515;
    }
}

@media screen and (max-width: 960px) {
    .BlogCard {
        // width: 100%;
        .blogCardImg {
            width: 290px;
            margin-bottom: 15px;
        }

        .blogCardTitle {
            font-size: 15px;
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .BlogCard {
        width: 50%;
        .blogCardImg {
            width: 100%;
        }

        .blogCardTitle {
            font-size: 15px;
            margin-bottom: 10px;
            max-width: 100%;
        }

        .blogCardTag {
            width: 45px;
        }
    }
}

@media screen and (max-width: 375px) {
    .BlogCard {
        width: 100%;

        .blogCardImg {
            width: 315px;
        }

        .blogCardTitle {
            max-width: 100%;
        }
    }
}